@model PizzaShop.Domain.ViewModels.CategoryViewModel;


<div class="add-user-back">
  <div class="mt-3 me-3 ms-4 d-flex flex-column">
    <div class="d-flex justify-content-between">
      <h2>Menu</h2>
    </div>
    <div class="nav  shadow-lg mt-5 mx-2" id="nav-tab" role="tablist">

      <button class="nav-link active text-black" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
        aria-controls="nav-home" aria-selected="true"><img src="./images/menu-black.svg" alt="" class="sidebar-svg">
        Items</button>
      <button class="nav-link text-black" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
        aria-controls="nav-profile" aria-selected="false"> <img src="./images/black-modifier.svg" alt=""
          class="menu-page-svg"> Modifiers</button>
    </div>
    <div id="partialView">
      <partial name="_CategoryItems" model="Model" />
    </div>
  </div>
</div>


<div class="modal fade" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addCategoryForm">
          <div class="d-flex flex-column">
            <div class="form-floating my-2 mx-2">
              <input type="text" class="form-control" id="category-name" asp-for="CategoryName" name="CategoryName"
                placeholder="Pasta">
              <label for="name">Name*</label>
            </div>
            <div class="form-floating my-2 mx-2">
              <input type="text" class="form-control" asp-for="Description" name="Description"
                placeholder="This is the description of pasta" id="category-description"></input>
              <label for="description">Description*</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">AddCategory</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="editCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editCategoryForm">
          <div class="d-flex flex-column">
            <div class="form-floating my-2 mx-2">
              <input type="text" class="form-control" id="edit-category-name" asp-for="CategoryName" name="CategoryName"
                placeholder="Pasta">
              <label for="name">Name*</label>
            </div>
            <div class="form-floating my-2 mx-2">
              <input type="text" class="form-control" asp-for="Description" name="Description"
                placeholder="This is the description of pasta" id="edit-category-description"></input>
              <label for="description">Description*</label>
            </div>
            <span class="d-none" id="edit-category-id"></span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Delete Confirmation
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <img src="./images/warning.svg" alt="" class="popup-svg" />
          <p>Are you sure you want to delete this user?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-primary" id="deleteButton" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog addItem-modal modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addItem-Form">

          <div class="row">
            <div class="col-12 col-md-8">
              <div class="row align-items-center">
                <div class="form-floating col-12 col-md-6 p-1">
                  <select class="form-select form-multi-select" asp-for=addMenuItemViewModel.CategoryId name="addMenuItemViewModel.CategoryId" id="CategorySelect">
                    @* <option selected>Select Modifier Group(s)</option> *@
                    @foreach (var category in Model.Categories)
                    {
                      <option value="@category.Id">@category.Name</option>
                    }
                  </select>
                  <label class="" for="floatingSelect">Categories*</label>
                </div>
                <div class="form-floating col-12 col-md-6 p-1">
                  <input type="text" class="form-control" asp-for="@Model.addMenuItemViewModel.ItemName" name="addMenuItemViewModel.ItemName" >
                  <label for="category-name" class="">Name*</label>
                  <span asp-validation-for="@Model.addMenuItemViewModel.ItemName" class="text-danger"></span>
                </div>
              </div>
              <div class="row my-2 align-items-center">
                <div class="form-floating col-12 col-md-3 p-1">
                  <select class="form-select" id="CategorySelect" asp-for=addMenuItemViewModel.ItemType name="addMenuItemViewModel.ItemType" aria-label="Floating label select example">
                    <option selected>select ItemType</option>
                    <option value="Veg">Veg</option>
                    <option value="Non-Veg">Non-Veg</option>
                    <option value="accountManager">Account Manager</option>
                  </select>
                  <label class="" for="floatingSelect">Item Type*</label>
                </div>
                <div class="form-floating col-12 col-md-3 p-1">
                  <input type="text" class="form-control" asp-for="@Model.addMenuItemViewModel.Rate" name="addMenuItemViewModel.Rate" id="Item-Rate"  placeholder="name">
                  <label for="category-name" class="">Rate*</label>
                </div>
                <div class="form-floating col-12 col-md-3 p-1">
                  <input type="text" class="form-control" asp-for="@Model.addMenuItemViewModel.Quantity" name="addMenuItemViewModel.Quantity" id="Item-Quantity"  placeholder="name">
                  <label for="category-name" class="">Quantity*</label>
                </div>
                <div class="form-floating col-12 col-md-3 p-1">
                  <select class="form-select" asp-for=addMenuItemViewModel.Unit name="addMenuItemViewModel.Unit" id="CategorySelect" aria-label="Floating label select example">
                    <option selected>Select Unit</option>
                    <option value="Plate">Plate</option>
                    <option value="Cup">Cup</option>
                    
                  </select>
                  <label class="" for="floatingSelect">Unit*</label>
                </div>
              </div>
              <div class="row my-2 align-items-center">
                <div class="form-floating col-6 col-md-3 p-1">
                  <div class="form-check form-switch my-2">
                    <input class="form-check-input " type="checkbox" role="switch" asp-for="@Model.addMenuItemViewModel.Availabe" name="addMenuItemViewModel.Availabe" id="flexSwitchCheckChecked" checked>
                    <label for="flexSwitchCheckChecked" class="mx-2 "> Available</label>
                  </div>
                </div>

                <div class="form-floating col-6 col-md-3 p-1">
                  <div class="form-check form-switch my-2">
                    <input class="form-check-input" type="checkbox" asp-for="@Model.addMenuItemViewModel.DefaultTax" name="addMenuItemViewModel.DefaultTax" role="switch" id="DefaultTax" onchange="" checked >
                    <label for="flexSwitchCheckChecked1" class="mx-2"> DefaultTax</label>
                  </div>
                </div>

                <div class="form-floating col-12 col-md-3 p-1">
                  <input type="text" class="form-control" asp-for="@Model.addMenuItemViewModel.TaxPercentage" name="addMenuItemViewModel.TaxPercentage" id="Tax-Percentage" >
                  <label for="category-name" class="">Tax Percentage</label>
                </div>

                <div class="form-floating col-12 col-md-3 p-1">
                  <input type="text" class="form-control" asp-for="@Model.addMenuItemViewModel.ShortCode" name="addMenuItemViewModel.ShortCode" id="Short-Code" required placeholder="name">
                  <label for="category-name" class="">Short Code</label>
                </div>
              </div>
              <div class="row my-2 align-items-center mx-2">
                <div class="form-floating my-auto col-12 pt-2">
                  <input class="form-control" asp-for="@Model.addMenuItemViewModel.Description" name="addMenuItemViewModel.Description" placeholder="Leave a comment here" id="item-description"
                    style="height: 100px"></input>
                  <label for="floatingTextarea2">Description</label>
                </div>
              </div>
              <div class="row my-2 align-items-center">
                <div class="col-12  row">
                  <label for="upload-btn">Upload Image</label>
                  <div class="file upload position-relative overflow-hidden btn-custom">
                    <div class="d-flex gap-2 justify-content-center align-items-center" style="height: 100px;">
                      <img src="./images/icons/cloud.svg" class="small-image" alt="upload">
                      <span>Drag and Drop or Browse files</span>
                      <p id="file-name"></p>
                    </div>
                    <input type="file" id="upload-btn" asp-for="@Model.addMenuItemViewModel.ItemImage" name="addMenuItemViewModel.ItemImage" class="position-absolute file-input-btn" name="file"
                      accept="image/*" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 item-modifier-bg p-3">
              <div class="row align-items-center">
                <div class=" col-12  p-1">

                  <div class="custom-multi-select">
                    <div class="selection-area">
                      <div class="selected-tags">
                        
                      </div>
                      <input type="text" class="search-input" placeholder="Select options">
                      <button class="clear-all"></button>
                    </div>
                    <div class="dropdown-options">
                      <select class="form-select d-none"  id="ModifierSelect" multiple>
                      @foreach (var modifier in Model.ModifierGroups)
                      {
                        <option value="@modifier.Id">@modifier.Name</option>
                      }
                  </select>
                    </div>
                  </div>

                 
              

                </div>
              <div id="partialviewstart"></div>
              <partial name="_Modifier" model="Model" />

              </div>
            </div>
          </div>
          <input id="min-value-modfier" asp-for="@Model.addMenuItemViewModel.minValue" hidden name="addMenuItemViewModel.minValue">
          <input id="max-value-modfier" asp-for="@Model.addMenuItemViewModel.maxValue" hidden name="addMenuItemViewModel.maxValue">
          <input id="selected-modifier-groups" asp-for="@Model.addMenuItemViewModel.selectedModifierGroups" hidden name="addMenuItemViewModel.selectedModifierGroups">
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="submit"  class="btn btn-primary">Yes</button>
      </div>
        </form>

      </div>
      
    </div>
  </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/js/menu.js" asp-append-version="true"></script>
<script>

  document.addEventListener('DOMContentLoaded', function () {
  const selectElement = document.getElementById('ModifierSelect');
  const customMultiSelect = document.querySelector('.custom-multi-select');
  const dropdownOptions = customMultiSelect.querySelector('.dropdown-options');
  const selectedTagsContainer = customMultiSelect.querySelector('.selected-tags');
  const searchInput = customMultiSelect.querySelector('.search-input');
  const clearAllButton = customMultiSelect.querySelector('.clear-all');
  const dropdownToggle = customMultiSelect.querySelector('.dropdown-toggle');

  // Build the custom dropdown options from the <select> element
  selectElement.querySelectorAll('option').forEach(option => {
    const value = option.value;
    const text = option.textContent;

    // Create a custom option
    const customOption = document.createElement('div');
    customOption.className = 'option';
    customOption.setAttribute('data-value', value);
    customOption.innerHTML = `
      <input type="checkbox" id=${value} onchange="getSelectedValues(id)">
      <label for="custom-option-${value}">${text}</label>
    `;

    // Add the custom option to the dropdown
    dropdownOptions.appendChild(customOption);

    // Sync the selected state with the <select> element
    const checkbox = customOption.querySelector('input[type="checkbox"]');
    checkbox.addEventListener('change', () => {
      if (checkbox.checked) {
        option.selected = true; // Sync with <select>
        addTag(value, text); // Add tag
      } else {
        option.selected = false; // Sync with <select>
        removeTag(value); // Remove tag
      }
    });
  });

  // Function to add a tag
  function addTag(value, text) {
    const tag = document.createElement('div');
    tag.className = 'tag';
    tag.setAttribute('data-value', value);
    tag.innerHTML = `
      ${text}
      <span class="tag-delete"></span>
    `;

    // Add tag to the selected tags container
    selectedTagsContainer.appendChild(tag);

    // Remove tag when delete button is clicked
    tag.querySelector('.tag-delete').addEventListener('click', () => {
      tag.remove();
      const option = selectElement.querySelector(`option[value="${value}"]`);
      if (option) {
        option.selected = false; // Sync with <select>
      }
      const checkbox = dropdownOptions.querySelector(`input[id="custom-option-${value}"]`);
      if (checkbox) {
        checkbox.checked = false; // Uncheck the checkbox
      }
    });
  }

  // Function to remove a tag
  function removeTag(value) {
    const tag = selectedTagsContainer.querySelector(`[data-value="${value}"]`);
    if (tag) {
      tag.remove();
    }
  }

  // Clear all selected tags
  clearAllButton.addEventListener('click', () => {
    selectedTagsContainer.innerHTML = '';
    selectElement.querySelectorAll('option').forEach(option => {
      option.selected = false; // Unselect all options in <select>
    });
    dropdownOptions.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
      checkbox.checked = false; // Uncheck all checkboxes
    });
  });

  // Toggle dropdown visibility
  searchInput.addEventListener('focus', () => {
    dropdownOptions.style.display = 'block';
  });

  searchInput.addEventListener('blur', () => {
    setTimeout(() => {
      dropdownOptions.style.display = 'none';
    }, 200);
  });

  dropdownToggle.addEventListener('click', () => {
    dropdownOptions.style.display = dropdownOptions.style.display === 'block' ? 'none' : 'block';
  });
});


  function removeTag(value) {
  const customMultiSelect = document.querySelector('.custom-multi-select');
  const selectedTagsContainer = customMultiSelect.querySelector('.selected-tags');
  const tag = selectedTagsContainer.querySelector(`[data-value="${value}"]`);
    if (tag) {
      tag.remove();
    }
  }

let selectElement=[];
function getSelectedValues(id) {
  id = parseInt(id);
  var checked = document.getElementById(id).checked
  if(checked){
    selectElement.push(id);
  }else{
    selectElement = selectElement.filter(item => item !== id);
  }
  console.log(selectElement);
  var selectedItemsString=JSON.stringify(selectElement);
  $.ajax({
    type: "GET",
    url: "/Menu/selectModifier",
    contentType: "application/json",
    data: {selectedItems:selectedItemsString},
    success: function(data){
      $('#partialviewstart').html(data);
    }
  });

}

let minValues=[];
let maxValues=[];



    function getMinimumValueList(id, value) {
        minValues.push({ Id: id, Value: value });
        var minimumValueJson = JSON.stringify(minValues);
        $("#min-value-modfier").val(minimumValueJson);
        
    }

 

function getMaximumValueList(id, value) {
        maxValues.push({ Id: id, Value: value });
        var maximumValueJson = JSON.stringify(maxValues);
        $("#max-value-modfier").val(maximumValueJson);
        console.log(maxValues);
    }

let modifierMaximumMinimumList=[];
function modfierMaxMinList()
{
  var minVal;
  var maxVal;
    for(let i=0;i< selectElement.length;i++)
    {
      minVal=minValues.find(item => item.Id ==selectElement[i]);
      maxVal=maxValues.find(item => item.Id ==selectElement[i]);
    
      modifierMaximumMinimumList.push({Id:selectElement[i],minValue: minVal.Value,maxValue: maxVal.Value})
    }
  return modifierMaximumMinimumList;
}

function deleteItem(id) {
  selectElement = selectElement.filter(item => item !== id);
  document.getElementById(id).checked = false;
  removeTag(id)
  var selectedItemsString=JSON.stringify(selectElement);
  $.ajax({
    type: "GET",
    url: "/Menu/selectModifier",
    contentType: "application/json",
    data: {selectedItems:selectedItemsString},
    success: function(data){
      $('#partialviewstart').html(data);
    }
  });
}


$("#addItem-Form").submit(function(){
    var modMaxMinList=modfierMaxMinList();
    $("#selected-modifier-groups").val(JSON.stringify(modMaxMinList));
    var addItemForm=$(this)[0];
    var formData = new FormData(addItemForm);
    console.log(formData);
    $.ajax({
        url: '/Menu/AddItem',
        type: 'POST',
        data: formData,
        processData: false, 
        contentType: false, 
        success: function (data) {
            if (data.success) {
                toastr.success(data.message);
                setTimeout(function () {
                    window.location.href = '/Menu';
                }, 1000);
            } else {
                toastr.error(data.message);
            }
        },
        error: function (error) {
            toastr.error('An error occurred while processing your request');
        }
    });
  });
</script>